:root{
    --backgroundGradientFrom:hsl(273, 75%, 66%); 
    --backgroundGradientTo:hsl(240, 73%, 65%);
    
    --divider-color:hsl(240, 5%, 91%);
    --answer-text-color:hsl(240, 6%, 50%);

    --question-font-size: .85rem;
    --answer-font-size:.65rem;
    --heading-font-size:1.6rem;
   



    --heading-font-weight:700;
    --body-font-weight:400;

    --hover-red:hsl(14, 88%, 65%);
}

*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: var(--body-font-weight);

    display: flex;
    flex-direction: column;
    align-items:  space-between;
    min-height: 100vh;
    
    background:linear-gradient(180deg,var(--backgroundGradientFrom),var(--backgroundGradientTo))
}
.main{
    flex-grow: 1;
  
    width:80%;
    /* min-width:200px; */
    margin:0 auto;
    
}

.wrapper{
    position:relative; 
    
    margin:9rem 0;

    /* width:50%; */
    padding:1rem;
}
.illustration .illustration-desktop{
    display:none;
}

.illustration .illustration-mobile{
     position:absolute;
    z-index:3;
    left:45%;
    background: url(./images/illustration-woman-online-mobile.svg);
    /* width:100px; */
    top:-1px;
    
    height:196px;
    width:266px;
    transform: translate(-50%,-50%); 

}
.illustration .background-mobile{
    position:absolute;
    top:10%;
    background: url('/images/bg-pattern-mobile.svg');
    left:50%;
    height:104px;
    width: 242px;
    background-repeat: no-repeat;
    z-index:1;
    transform:translate(-50%,-50%);
    
}
.questions{
    z-index: 0;
    /* position:absolute; */
    background-color: #fafafa;
    padding:1rem;
    

    min-width: 250px;
    margin:0 auto;
    /* top:100px; */
    border-radius: 15px;
    padding-top:80px;
   
}
.questions h1{
    font-size: var(--heading-font-size);
}

.questions .title{
    text-align: center;
    margin:1.4rem 0;
}

.master-detail{
    margin-bottom :10px;
}
.questions .master-detail{
    border-bottom:solid 1.4px var(--divider-color)
}
.master-detail .question h3{
    font-size: var(--question-font-size);
    font-weight: var(--body-font-weight);
    margin:10px 0;
    margin-right:10px;
}

.master-detail .answer{
    padding:5px 0;
    font-size: var(--answer-font-size);
    line-height: 1rem;
    color: var(--answer-text-color);
}
.questions .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leading{
    justify-self: center;
    align-self:center;

    height: 8px;
    width:11px;
    background-repeat: no-repeat;
    background-image: url('/images/icon-arrow-down.svg');
    
}
.answer{
    display: none;
}

@media only screen and (min-width:768px){
    .illustration .illustration-mobile{
        left:50%;
    }
    .illustration .background-mobile{
        left:53%;
    }
}

@media only screen and (min-width:1024px){

    :root{
        --question-font-size: 1.3rem;
        --answer-font-size:1.2rem;
        --heading-font-size:2rem;
    }
    .illustration-mobile{
        display: none;
    }
    .illustration .background-mobile{
        display:none;
    }

    .illustration{
        width:50%;
        position: relative;
    }
    .main{
        width: 90%;
    }

    .wrapper{
        background:#fafafa;
        display:flex;
        padding:3rem 0;
        flex-direction: row;
        margin:4rem 0;
        width: 100%;
        overflow: hidden;
        align-items: space-between;
        justify-content: space-between;
        border-radius:10px;
    }

    .illustration .illustration-desktop{
        z-index: 1;
        display: block;
        position: absolute;
        background-image: url('./images/illustration-woman-online-desktop.svg'), url('./images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position: 155px 80px, -340px -220px;
        width: 150%;
        height: 150%;
        max-width: 800px;
        top: -110px;
        left: -220px;
        
    }
 
    .questions{
        padding:10px;
        justify-self: end;
        align-self:end;
        /* width:25%; */
    }
    h1{
        text-align: start;
    }


    
    
}