:root{
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);
    --strongCyan: hsl(171, 66%, 44%);
    --lightBlue: hsl(233, 100%, 69%);
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    margin:0;  
    color:var(--grayishBlue);
}

.container{
    width:80%;
    max-width:600px;
    margin:0 auto;
    text-align: center;
}
p{
    font-size: .95rem;
    line-height: 1.3rem;
}
h1,h2,h3,h4,h5,h6{
    color:var(--darkGrayishBlue);
}
img{
    width:100%;
}
header{
    background:url('./images/bg-header-mobile.png');
    padding:2rem;
    width:100%; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}
header object{
  margin:50px auto 20px;
}

main{
    text-align: center;
}
main h1{
    
    font-size: 1.75rem;
    font-weight: 600;
}
.btn{
    border:none;
    padding:1rem;
    margin: 20px 0;
    font-weight:300;
    letter-spacing: .1rem;
    color:white;
    border-radius:40px;
}
.btn-group{
    display:flex;
    flex-direction: column;
    
}
.secondary{
    margin-top:10px;
    background-color: var(--lightBlue);
    border-bottom:3px solid  hsl(233, 63%, 59%);
}
.secondary:hover{
    cursor: pointer;
}
.primary{
     background-color:var(--strongCyan);
    border-bottom:3px solid  hsl(171, 66%, 35%);
}
 .primary:hover{
    cursor: pointer;
} 

.snippet{
    text-align: center;
}

.features {
    margin-top: 100px;
    text-align: center;
}

.features h3{
    font-size:1.35rem;
    padding:0;
}

.blacklist-highlight{
    margin-top: 100px;;
}

.features-2{
    margin-bottom: 50px;
}

.companies{
    width:90%;
    margin:20px auto;
}
.companies img{
    width:50%;
    padding:1rem;
}

footer{
    background: hsl(171deg 66% 44% / 10%);
    margin:0 auto;
}
.design-footer{
    width: 50%;
    text-align: center;
    margin: 10px auto;
}

.design-footer object{
    padding:1rem;
    
}

@media only screen and (min-width: 1024px){
    p{
        font-size:1rem;
    }
    header{
        background:url('./images/bg-header-desktop.png');
    }
    .container{
        width:100%;
        margin:0 auto;
        max-width:1440px;
    }
    main{
        width:60%;
        margin:0 auto;
    }
    main h1{
        font-size: 2.2rem;
    }
    .btn-group{
        display: flex;
        width:100%;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }
     .btn{
        padding:1.3rem 2rem;
    }
     .secondary{
         
        margin-top:20px;
        margin-left:30px;
    }
    .snippet{
        width:60%;
        margin:20px auto;
    }
     h2{
        font-size:1.85rem;
    }
    img{
        width:60%;
    }
    .features{
        margin:55px auto;
    }
    .features-1{
        margin-top:50px;
    }
    .features-0{
        display: flex;
        
    }
    .features-0 img{
        left:-10%;
        
        position: relative;
    }
    .featuresContent{
        /* margin-left:-60px; */
        margin-right:70px;
        
        display: flex;
        width:40%;
        flex-direction: column;
        text-align: start;
    }
    .featuresContent h3{
        padding:0;
        font-size:1.65rem;
        margin:40px 0 10px;
    }
    .featuresContent p{
        padding:0;
        margin:0;
    }
    .features-1-content{
        width: 60%;
        margin: 0 auto;
    }
    .highlights{
        display: flex;
        justify-content: space-between;
        width:80%;
        margin:50px auto;
    }
    .blacklist-highlight{
        margin-top: 0;
        margin-right: 20px;
        width: 50%;
    }
    .snippet-highlight{
        width:50%;
        margin-right: 20px;
    }
    .sneak-highlight{
        width:50%;
    }
    .features-2{
        margin-bottom:10px;
    }
    .companies{
        width:80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding:1rem;
    }
    .companies img{
        width:20%;
        padding:1.5rem;
    }

    .outro{
        width:60%;
        margin:30px auto;
    }

    .design-footer{
        width:80%;
        padding:2rem;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
    }
    .design-footer .links{
        display: flex;
        text-align: start;
        width:40%;
        
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .socials:hover,.links:hover{
        cursor: pointer;
    }
    .socials{
        align-self: center;
    }

}